@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
    margin-top:-1px;
    border-bottom:2px solid rgba(255, 255, 255, 0.664)
}
.navbar-brand {
    transition: 1s ease-in-out;
    animation: rotate 1s ease-in-out;
    
}
@keyframes rotate {
    from {transform: rotate(-360deg);}   
    to {transform: rotate(0deg);}
}
.navbar-brand:hover {
    transform: rotate(375deg);
}
.hr {
    height:1px;
    width:100%;
    background-color:rgba(255,255,255,0.3)
}
.container-1 {
    background: url(../img/bg2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height:100.1vh;
}
h1 {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:4vw;
    margin-top:200px;
    mix-blend-mode: exclusion; /*exclusion*/
}
 .vk {
    height:30px;
    overflow: hidden;
    display:inline-block;
    width:auto;
}
.vk .vklink{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    display:block;
    transition: all 0.4s;
    text-decoration: underline;
    transform: translateY(-30px);
}
.vklink:hover {
    text-decoration:underline;
}
.vk .vkimg {
    display:inline-block;
    transition: all 0.4s;
    transform: translateY(-26px);
}
.vk:hover .vkimg {
    transition: all 0.5s;
    transform: translateY(20px);
}
.vk:hover .vklink{
    transition: all 0.5s;
    transform: translateY(1px);
}
@media (max-width:991px) {h1{font-size:5vw}}
