@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}
@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProMedium.ttf") format("truetype");
    font-style: normal; 
    font-weight: 600; 
}
@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.header {
    background: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.navbar {
    border-bottom:2px solid rgba(255,255,255,0.25)
}
.navbar-brand {
    margin-left:35px;
}
.navbar-nav {
    margin-left: 70px;
    margin-top:10px;
}
.layer-1 .nav-link {
    margin-right:20px;
}
.layer-2 .nav-link {
    margin-right:15px;
}
ul li a {
    color:rgba(255,255,255,0.95) !important;
    font-family: "Myriad Pro", sans-serif !important;
    font-size:16px;
}
ul li a:hover {
    color:rgba(255,255,255,0.75) !important;
}
.h-1 {
    color: white;
    font-size:95px;
    font-family:"GothamPro", sans-serif;
    font-weight: 800;
    margin-top:175px;
}
.subtext {
    color:#11749E;
    font-family:"GothamPro", sans-serif;
    font-weight: 600;
    letter-spacing:12px;
}
.block-2 {
    background-color:#11749E;
    background-repeat: no-repeat;
    background-size: cover;
    height:110vh;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-text {
  color:white;
  font-size: 50px;
  z-index: 1;
  margin-top:150px;
  text-align: center;
}
.w-bg {
  position: absolute;
  z-index: 0;
  font-size: 175px;
  margin-top:160px;
  transform: scale(1, 1.25);
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  color:rgba(255,255,255,0.25);
}
.circle {
  height: 100px;
  width: 100px;
  background-color: #2E85AA;
  border-radius: 50%;
  display: inline-block;
}
.row-1 {
    margin-top:125px;
}
.h-3 {
    margin-top:15px;
    font-family:'Gotham', sans-serif;
    font-weight: 600;
    color:white;
    letter-spacing:1px;
}
.subh-3 {
    font-size:16px;
    font-family:'Gotham', sans-serif;
    font-weight: 400;
    color:white;
}
.smblock-1, .smblock-2, .smblock-3, .smblock-4 {
    height:50vh;
}
.smblock-1 {
    background-color: #222222;
}
.smblock-2 {
    background: url(../img/miniblock1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.smblock-3 {
    background: url(../img/miniblock2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.smblock-4 {
    background-color: #F3F3F3;
}
.date-1 {
    color:#F5F5F5;
    font-family:'Gotham', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top:50px;
    margin-left:25px;
}
.date-2 {
    color:#222222;
    font-family:'Gotham', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top:25px;
    margin-left:25px;
}
.h-4 {
    color:white;
    font-family:'Gotham', sans-serif;
    margin-top:-10px;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
    margin-left:25px;
}
.h-5 {
    color:#222222;
    font-family:'Gotham', sans-serif;
    margin-top:-10px;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
    margin-left:25px;
}
.subh-4 {
    margin-left:25px;
    color:white;
    font-size: 14px;
}
.subh-5 {
    margin-left:25px;
    columns: #222222;;
    font-size: 14px;
}
@media (max-width:991px) {.h-1{font-size:12.5vw} .block-2{height:1000px;} .subtext{font-size:3vw}}
@media (max-width:575px) {.block-2{height:1500px;}}