@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

nav {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
	z-index: 1;
}
ul li a {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size:20px;
	color:black !important;
}
ul li {
	padding-right: 15px;
}
.navbar-brand {
	margin-left: 15px;
}
.col-xl-6 {
	margin:auto;
}
.text1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: black !important;
}
.text {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:black !important;
	font-size: 28px;
	text-align: center;
	margin-top: 19px;
	vertical-align: 20px;
	padding-top: 50px;
}
.rect .login-btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20px;
	background-color: #FF9164 !important;;
	color:white !important;
	display: block;
	margin:0 auto;
	margin-top: 125px;
	padding-top: 12px;
	padding-bottom: 12px;
	position:relative;
	top:-110px;
	width: 250px;
	border-radius: 15px;
	text-decoration: none;
}

.container-fluid { 
	padding-top: 50px;
}
.rect .login-btn:hover {
	background-color: #F68B60 !important;;
}
#AuthInput {
	text-align: center;
	width: 75%;
	margin:auto;
	margin-top:10px;
	border-color: gray;
	border-radius: 10px;
}
.row-2 {
	margin-top: 100px;
}
.col-md-7 {
	background-color: white;
	border-radius: 22px;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
	margin-bottom: 50px;
}
.txt-main {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:black !important;
	margin-top: 25px;
	font-size: 18px;
}
.txt-submain {
	margin-top: -10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color:black !important;
}
.bonus {
  background: rgba(88,197,92,0.85);
  border-radius: 7px;
  width: 350px;
  margin-left: 10px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  /* Центрирование */
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
  animation:bonus 5s cubic-bezier(0, 0, 1, 1);
  z-index: -1;
  opacity: 0;
}
.bonus p {
  font-family: 	'Montserrat', sans-serif;
  font-weight: normal;
  color:white !important;
  font-size: 14px;
  padding-top: 10px;
}

@keyframes bonus {
	0%{z-index: 1;opacity:0;}
	10%{z-index: 1;opacity:1;}
	75%{z-index: 1;opacity:1}
	100%{z-index:-1;opacity:0;}
}

@media (max-width:1199px) {.col-rect {margin-top: 50px; } .row div img {width:20%;}}
@media (max-width:991px) {.row div img {width:30%;}}
@media (max-width:767px) {.row div img {width:30%;}}
@media (max-width:550px) {.rect {width:100%;}}